ADMIN_TOKEN=вставь_свой_секретный_токен_здесь
SECRET_KEY=вставь_случайную_строку_для_сессии
MAIL_USERNAME=твоя_почта@yandex.ru
MAIL_PASSWORD=пароль_приложения_от_почты
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=465
